[run]
source =
    src/refactor

[report]
omit =
    */tests/*
    */abstract/*
    */__init__.py
    src/refactor/evaluation/EBMCounterOptimizer.py
    src/refactor/evaluation/LogisticRegressionCounterOptimizer.py
    src/refactor/tools/*
